<div class=" float bg-light carousel ">
	<div id="carouselExampleIndicators" class="carousel" data-ride="carousel">
		<ol class="carousel-indicators">
        {% for i in slider_image %}
			<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
{#			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
{#			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
{#			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>#}
		</ol>
		<div class="carousel-inner carousel trans">
		{% for i in slider_image %}
			<div class="carousel-item trans{% if forloop.first %} active{% endif %}">
				<img id='img' class="d-block w-100" src="{{ i.s_image.url }}" alt="synbyt">
				<div class="carousel-caption d-none d-md-block">
					<h3 class="white-color">{{ i.title }}</h3>
					<h6>{{ i.description }}</h6>
				</div>
			</div>
		{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" style="color:red" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>