<div class="container">
<div class="row">
	{% for k in service_object %}

	<div class="card card-style col-sm-4 col-md-4 col-lg-4 mb-4">
		<img class="card-img-top img-box mx-auto mt-4" src="{{ k.s_image.url }}" alt="">
		<div class="card-body py-5 text-center">
			<h5 style="font-size: 20px;" class="card-title text-center">{{ k.title }}</h5>
			<p class="card-text">{{ k.description }}</p>
		</div>
	</div>

	{% endfor %}
</div>
</div>

