<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
		<li data-target="#myCarousel" data-slide-to="5"></li>
		<li data-target="#myCarousel" data-slide-to="6"></li>
		<li data-target="#myCarousel" data-slide-to="7"></li>
		<li data-target="#myCarousel" data-slide-to="8"></li>
		<li data-target="#myCarousel" data-slide-to="9"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% for t in testimonial_object %}
		<div class="carousel-item mb-5 {% if forloop.first %} active{% endif %}">
			<div class="img-box"><img src="{{ t.t_image.url }}" alt=""></div>
			<p class="testimonial mx-auto">{{ t.description }}</p>
			<p class="overview"><b>{{ t.name }}</b>, {{ t.company_name }}</p>
			<p>{{ t.website }}</p>
		</div>
		{% endfor %}
	</div>

	<!-- Left and right controls -->
	<a class="carousel-control-prev mb-5" href="#myCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next mb-5" href="#myCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>