{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div class=" text-center py-5">
			{% for i in title %}
			<h3 class="">{{ i.title }}</h3>
			<p>{{ i.description }}</p>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block footer %}

{% endblock %}