{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/synbyt-logo.jpg' %}"/>
    <title>{% block title %}SynByt{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light py-3"
     style="background-color: #e3f2fd; background-image: url({% static 'img/back2.png' %}); width: 100%">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/synbyt-logo.jpg' %}" width="120" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active ">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                {% comment %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class=" dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>{% endcomment %}
                <li class="nav-item ml-2">
                    <a class="nav-link " href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link " href="{% url 'contact' %}">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}



    {#    <div class="">#}
    {#        <ol>#}
    {#            {% block breadcrumb %}#}
    {#            {% endblock %}#}
    {#        </ol>#}
    {#        <ol>#}
    {#            {% block content %}#}
    {#            {% endblock %}#}
    {#        </ol>#}
    {#    </div>#}
{% endblock %}

<!------- end block body------->

{% block footer %}
    <!-------- Start Navbar Footer --->
    <nav class="navbar navbar-dark" style="background-color:#191919; padding:20px;">
        <div class="container">
            <div class="float-left">
                <p style="font-size: 16px;">SHARE THIS</p>
                <ul class="text-light" style="list-style:none;">
                    <li>
                        <a href="{% url 'about' %}" class="text-light">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-light">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="text-light">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'support' %}" class="text-light">
                            Support
                        </a>
                    </li>
                </ul>
            </div>
            <div class="float-left mb-5">
                <p style="font-size: 16px;">PRIVACY</p>
                <ul class="" style="list-style:none;">
                    <li>
                        <a href="" class="text-light">
                            Privacy
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-light">
                            Share this Service
                        </a>
                    </li>
                </ul>
            </div>
            <div class="float-right mb-5">
                <p style="font-size: 16px;">LEGAL</p>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="text-light">
                            Copyright Guidelines
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'terms_of_use' %}" class="text-light">
                            Terms of use
                        </a>
                    </li>
                </ul>
            </div>
            <div class="float-right mt-5">
                <p style="font-size: 16px;">BANGLADESH DEVELOPMENT OFFICE</p>
                <address>
                    <p class="text-light">
                        House # 21[1st Floor], Road # 7C,
                        <br>
                        Sector # 9, Uttara, Dhaka,
                        Bangladesh

                    </p>
                    <p style="font-size: 16px;">USA Office</p>
                    <p class="text-light">
                        941 NE 170, st apt 322,
                        <br>
                        North Miami Beach, Florida 33162, USA
                    </p>
                </address>
            </div>
        </div>
    </nav>
    <!-------- End Navbar Footer ----->

    <nav class="navbar navbar-dark" style="background-color:#000000;">
        <div class="container">
            <p class="text-center text-light">
                &copy; all rights reserved
                <a href="{% url 'home' %}">SYNBYT</a>

            </p>
            <ul class="float-right list-inline">
                <li class="list-inline-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook fa-2x" style="font-size:30px;color:#3b5998" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter fa-2x" style="font-size:30px;color:#00aced" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-reddit fa-2x" style="font-size:30px;color:#FF5700" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-youtube fa-2x" style="font-size:30px;color:#ff0000" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-pinterest fa-2x" style="font-size:30px;color:#FF5700" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock footer %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block javascript %}{% endblock %}
<script>
    $(document).ready(function () {
        {% block jquery %}

        {% endblock %}
    });
</script>
</body>
</html>