{% extends 'base.html' %}


{% block content %}
		<div id="contact" class="container bg-grey my-5">
			<h2 class="text-center py-5">CONTACT</h2>
			<div class="row">
				<div class="col-sm-5 mb-4">
					<p><i class="fa fa-map-marker"></i> NewYork, US</p>
					<p><i class="fa fa-phone"></i> +880 1830466823</p>
					<p><i class="fa fa-envelope"></i> khaled@synbyt.com</p>
				</div>
				<div class="col-sm-7">
					<form role="form" action="" method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<div class="row">
							<div class="col-sm-12 form-group">
								<button class="btn btn-default pull-right" type="submit">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}
