{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}


<!----- Django Admin Customization
https://books.agiliq.com/projects/django-admin-cookbook/en/latest/change_text.html
Alex Theme: http://preview.themeforest.net/item/alex-personal-portfolio-template/full_screen_preview/21401906?_ga=2.11111028.1125171575.1520868351-609594201.1520868351
----->
{% block content %}

    <!------ Carousel Starts ------>
    <div class="" style="margin-top: 58px">
        {% include 'includes/carousel.html' %}
    </div>
    <!------ Carousel End ------>

    <!----- Focus Section ------->
    <div class="my-5" style="background-color: #e3f2fd;">
        <div class="container services">
            <h2 class='text-center pt-5'>Our Focus</h2>
            <div class="row text-center py-5">
                <div class="col-sm-4 col-md-4 col-lg-4 ">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/backgroundshape.jpg' %}" alt="" class="rounded-circle mx-auto d-block"
                             style="width: 10rem;">
                    </a>
                    <p class="pt-3">Robust Design</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 ">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/backgroundshape.jpg' %}" alt="" class="rounded-circle mx-auto d-block"
                             style="width: 10rem;">
                    </a>
                    <p class="pt-3">Large Scale</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/backgroundshape.jpg' %}" alt="" class="rounded-circle mx-auto d-block"
                             style="width: 10rem;">
                    </a>
                    <p class="pt-3">Consistency</p>
                </div>
            </div>

        </div>
    </div>
    <!----- End Focus ----->
    <div class="container py-5">
        <div class="recent-work row">
            <div class="recent-work1 text-center  col-sm-12 col-md-6 col-slg-6" style="border-right:1px solid #696969;">
                <p style="font-size: 22px;">
                    <a href="{% url 'home' %}">Software</a>
                </p>
                <p style="font-size: 18px;">With Efficiency and Speed</p>
                <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="recent-work2 text-center col-sm-12 col-md-6 col-slg-6">
                <p style="font-size: 22px;">
                    <a href="{% url 'home' %}">Service</a>
                </p>
                <p style="font-size: 18px;">With Efficiency and Speed</p>
                <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>

    <!------ Service Section ----->
    <div class=" my-5" style="background-color: #DCDCDC; padding: 20px;">
        <h1 class="text-center  my-5">Our Services</h1>

        {% include 'includes/service.html' %}

        </br></br>
    </div>
    <!----- End Service Section ------>

    <!--- Portfolio Section ----->

    <div class="container my-5 ">
        <h1 class="text-center">Our latest projects.</h1>

        {% include 'includes/portfolio.html' %}

    </div>

    <!---- End Portfolio Section --->

    <!------ Service Section ----->
    <div class=" my-5" style="background-color: #DCDCDC; padding: 20px;">
        <h1 class="text-center mb-5 mt-5">Our VOIP & Carrier Services</h1>

        {% include 'includes/service.html' %}
    </div>
    <!----- End Service Section ------>

    <!-------- Starts Testimonial Slider ------>

    <div class="my-5" style="background-color: #e3f2fd; padding: 5px;">
        <h2 class="text-center mb-5 mt-5">What our customers say</h2>

        {% include 'includes/testimonials.html' %}

        </br></br>
    </div>

    <!------- End Testimonial Slider ------>

    <!---- 01743603760 --->
{% endblock %}
<script>
    $(document).ready(function () {

    });
    $('.carousel').carousel()
</script>