{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Sign up to SYNBYT{% endblock %}

{% block content %}

	<div class="row justify-content-center my-5">
		<div class="col-lg-4 col-md-10 col-sm-12 my-5">
			<div class="card">
				<div class="card-body">
					<div class="text-center">
						<a href="{% url 'home' %}">
							<img class="rounded" src="{% static 'img/logo.jpg' %}" alt="" width="300" height="120">
						</a>
						<h3 class="card-title">sign up</h3>
					</div>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<button type="submit" class="btn btn-primary btn-block">Create an account</button>
					</form>
				</div>
				<div class="card-footer text-muted text-center"> 
					Already have an account? <a href="{% url 'login' %}">Log in</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

