{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center py-5">Success! Email sent.</h1>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}