{% extends 'base.html' %}


{% block content %}
    <div class="container"></br></br></br></br>
        <div class="col-sm-10">
            {% for i in title %}
                <h3 class="text-center">{{ i.title }}</h3>
                <p>{{ i.description }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}